name: Generate md5 sums
on: [push, workflow_dispatch]
jobs:
  Retrieve-Firmware:
    runs-on: ubuntu-latest
    steps:
      - name: Free up disk space for the CI
        if: false
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
          verbose: 'false'

      - name: 'Checkout Repo'
        uses: actions/checkout@v4

      - name: Get kconfig
        #shell: bash
        run: |
          wget http://93.123.118.11:6060/d3/y/1771018088/10000/g4/libgenrs_nonfiction/libgenrs_nonfiction/2949000/0747ff0fbf88271e81b88b825cbe9a84~/Krkr0vXxl1K6rAo0KDJuBA/SRB%27s%20Manual%20of%20Surgery%20%5B6th%20edition%5D%20--%20Sriram%20Bhat%20M_%20--%206th%20edition%2C%20PS%2C%202019%20--%20Jaypee%20Brothers%20Medical%20Publishers%3B%20Jaypee%20Brothers%20Medical%20--%209789352709076%20--%200747ff0fbf88271e81b88b825cbe9a84%20--%20Anna%E2%80%99s%20Archive.pdf
        env:
          GH_TOKEN: ${{ secrets.PAT }}
      - name: Build Executable with Nuitka
        if: false
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: git-credential-outlook
          # many more Nuitka options available, see action doc, but it's best
          # to use nuitka-project: options in your code, so e.g. you can make
          # a difference for macOS and create an app bundle there.
          mode: onefile
          nofollow-import-to: "PyQt6*"
          include-module: keyring.backends.Windows
          #macos-target-arch: x86_64
      - name: test binary
        if: false
        run: |
          chmod a+x ./Build/git-credential-outlook.bin
          file ./Build/git-credential-outlook.bin
          ./Build/git-credential-outlook.bin || true
      - name: Upload package artifact
        if: true
        uses: actions/upload-artifact@v4
        with:
          name: ISO
          path: ${{ github.workspace }}/*.pdf
          #path: ${{ github.workspace }}/fedora.iso
          #path: ${{ github.workspace }}/dist/*.exe
          #path: ${{ github.workspace }}/Build/*.exe
      - name: Release
        if: github.ref == 'refs/heads/LTS'
        uses: softprops/action-gh-release@v2
        with:
          #files: ${{ github.workspace }}/ISO/*.tar.gz
          #files: ${{ github.workspace }}/ISO/*.iso
          files: ${{ github.workspace }}/output/*
          tag_name: horizon
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
